header {
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom right, #a03343 5%, #a14755 15%, #d87685 54%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansita Swashed', cursive;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

header .wrapper-header {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;

}

.wrapper-header .container-logo {
    height: 100%;
    text-align: center;
}

.container-logo img {
    height: 100%;
    max-width: 100%;
}

.wrapper-header .container-user {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 110px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    color: #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.4s all linear;

}

.wrapper-header .container-user {
    cursor: pointer;
}

.user-name h4 {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    max-width: 74px;
}

.container-user .user-icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;

}

.user-icon .person-icon {
    background: url(../img/person.svg) no-repeat;
    width: 100%;
    height: 100%;
}


.back-button {
    background: #f1519c;
    text-decoration: none;
    position: absolute;
    left: 4%;
    top: 24px;
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

.back-button i {
    color: white;
    font-size: 29px;
    height: 100%;
    width: 100%;
}

.popup-error-container,.popup-loading-container, .popup-cadastrado-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000000b3;

    display:flex;
    align-items:center;
    justify-content:center;

    padding-top:12vh;
    display: none;
}


.popup-error,.popup-loading,.popup-cadastrado {
    position:fixed;
    width:90%;
    height:60%;
    background:#FFF;
    border-radius:24px;
    padding:20px;
    text-align: center;
    max-width:600px;
    max-height: 400px;
    color:red;
    top:25%;
}

.close-popup {
    position:absolute;
    top:20px;
    right:20px;
    color:red;
    cursor: pointer;
}

p.message {
    color:#282828;
}




@media (max-width:415px) {
    header .wrapper-header {
        justify-content: start;
        padding-left: 15px
    }

    .wrapper-header .container-user {
        width: 175px;
    }

    .container-info .info {
        text-align: center;
        margin-left: 25px;
    }

    .cadastrado {
        text-align: center !important;
    }
}