.container-items {
    position: relative;
}

.container-info {
    margin-bottom: 20px;
}

.container-info .info {
    text-align: center;
}


.container-items .container-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.container-form div {
    display: flex;
    align-items: center;
}

.container-form input {
    padding-left: 10px;
    width: 80%;
    height: 20px;
}

.container-form label {
    min-width: 75px;
}

.container-items button {

    width: 100%;
    background: #24d244;
    height: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f1f1;
    font-weight: bold;
    transition: all 0.2s linear;
    margin-top: 15px;
    border: 1px solid rgb(226, 223, 223);
    margin-top: 15px;


}

.container-items button:hover,
.container-items button:focus {
    background: #1c9f34;
    cursor: pointer;
}

.container-cadastrese {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-cadastrese a {
    text-decoration: none;
    color: #f1519c
}

.container-cadastrese a:hover {
    text-decoration: underline;
}

header .wrapper-header {
    justify-content:center;
}

@media (max-width:768px) {

    .container-items .container-form {
        flex-direction: column;
        justify-content: center;
    }

    .container-form div {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

    }

    .container-cadastrese {
        justify-content: flex-end;
        margin-top: 10px;
    }
}

@media (max-width:320px) {
    .container-cadastrese {
        font-size: 15px;
        justify-content: center;

    }
}