* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0px;
    min-height: 100%;
}

body {
    min-height: 100vh;
    background-color: #FBE0E0;

}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

p,
span,
a,
div {
    font-family: Poppins, sans-serif;
}

main {
    padding: 25px 0;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    flex-direction: column;

}

main .container-items {
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: rgb(251, 249, 249);
    border-radius: 12px;
    border: 1px solid rgba(195, 61, 95, 0.993);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 24px 0;
}


@media (max-width:768px) {
    main .container-items {
        max-width: 500px;
        height: auto;
        align-items: center;
    }
}