* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0px;
    min-height: 100%;
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

p,
span,
a,
div {
    font-family: Poppins, sans-serif;
}

header {
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(160, 51, 67) 5%, rgb(161, 71, 85) 15%, #d87685 54%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansita Swashed', cursive;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.wrapper-header {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;

}

.wrapper-header .container-logo {
    height: 100%;
    text-align: center;
}

.container-logo img {
    height: 100%;
    max-width: 100%;
}

.wrapper-header .container-user {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 90px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.wrapper-header .container-user {
    cursor: pointer;
}

.container-user .user-icon {
    width: 25px;
    height: 25px;

}

.user-icon .person-icon {
    background: url(../img/person.svg) no-repeat;
    width: 25px;
    height: 25px;
}


main {
    padding: 25px 0;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;

}

main .container-items {
    width: 70%;
    max-width: 600px;
    height: 400px;
    background-color: rgb(251, 249, 249);
    /* background-color: red; */
    border-radius: 12px;
    border: 1px solid rgba(219, 217, 217, 0.185);
    /* /* box-shadow: 5px 1px 10px rgba(7, 7, 7, 0.295); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    padding: 15px 32px;

}




@media (max-width:768px) {
    main .container-items {
        max-width: 400px;
        height: 400px;
        justify-content: center;
    }


}